.App {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding-left: 20px;
}

.navs, .navs1{
  float: left;
  margin-right: 50px;
  width: 100px;
}

.conts, .conts1{
  float: left;
  width: 600px;
}

.conts1 {
  width: 300px;
}

